<%- include("./partials/header.ejs") %>

    <h1>REGISTER</h1>

    <form action="/register" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="username">
        <label for="passoword">Password: </label>
        <input type="password" name="password" placeholder="password">
        <button type="submit">SUBMIT</button>
    </form>

<%- include("./partials/footer.ejs") %>